/* Hide scrollbar for NetflixSlider */
.netflix-slider-hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.netflix-slider-hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* Hide scrollbar for NetflixSlider */
.netflix-slider-hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.netflix-slider-hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
@import "tailwindcss";
.container {
  display: flex;

}

.btn {
  align-items: center;
  text-align: center;
  margin: 0 auto;

}